{% extends "base.jinja2" %}
{% block content %}
    <div class="jumbotron">
        <h1 class="display-4">Query BSB Cash File Data</h1>
        <p class="lead">This website will be used to quickly query BSB Cash file data.</p>
    </div>

{% endblock %}